* {
    margin: 0;
}

#impressora {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#quadrado {
    border-left: 7px black solid ;
    border-right: 7px black solid ;
    width: 20em;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#retangulo {
    border: 7px black solid ;
    width: 25em;
    height: 5em;
    border-radius: 10px;
}

#retangulo-cima {
    border: 7px black solid ;
    width: 25em;
    height: 2em;
    border-radius: 10px;
}

#quadrado-dentro {
    width: 15em;
    height: 100%;
    border-left: 7px black solid ;
    border-right: 7px black solid ;
    position: relative;
}

#quadrado-maisdentro {
    width: 100%;
    height: 1.5em;
    border-top: 7px black solid ;
    border-bottom: 7px black solid ;
    margin-top: 2.5em;
}

#pincel {
    position: absolute;
    margin-top: -3.6em;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cabeca {
    width: 4em;
    height: 4em;
    border: 7px black solid ;
    background-color: white;
}

#ponta {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 0 25px;
    border-color: #000000 transparent transparent transparent;
}

#quadrado-maisdentro-debaixo {
    width: 100%;
    border: 7px black solid ;
    height: 1em;
}

.suporte {
    width: 15px;
    height: 15px;
    border-left: 7px black solid ;
    border-right: 7px black solid ;
}

#partedebaixo{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    border: 1px black solid ;
    flex-direction: column;
}

#suportes {
    display: flex;
}